<nav>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="/">Film Kaydet</a><button class="navbar-toggler"
        data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" href="/">Anasayfa</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/add">Film ekle</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/users">Üyeler</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/check">Onaylanacak
              filmler</a></li>
        </ul><span class="navbar-text actions"> <a href="/register" class="login">Kayıt ol</a><a
            class="btn btn-light action-button" role="button" href="/login">Giriş Yap</a></span>
      </div>
    </div>
  </nav>
</nav>