<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
  <link rel="stylesheet" href="static/css/Highlight-Clean.css">
  <link rel="stylesheet" href="static/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/Features-Boxed.css">
  <link rel="stylesheet" href="static/css/Header-Dark.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
  <link rel="stylesheet" href="static/css/Lightbox-Gallery.css">
  <link rel="stylesheet" href="static/css/Team-Grid.css">
  <link rel="stylesheet" href="static/css/Contact-Form-Clean.css">
  <link rel="stylesheet" href="static/css/Registration-Form-with-Photo.css">
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    {{> navbar}}
    {{{body}}}
  </div>
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</body>
</html>