<div class="movie-add-clean">
  <form method="post">
    <h2 class="text-center">Film Ekle</h2>
    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Film adı"></div>
    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Film Türü">
    </div><input type="file" />
    <div class="form-group form-mt"><textarea class="form-control" rows="14" name="message" placeholder="Film hakkında kısa özet"></textarea>
    </div>
    <div class="form-group"><button class="btn btn-primary text-center" type="submit">Kaydet</button></div>
  </form>
</div>