<div class="movie-add-clean">
  <form method="post">
    <h2 class="text-center">Film Ekle</h2>
    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Film adı"></div>
    <div class="form-group"><input class="form-control" type="text" name="genre" placeholder="Film Türü">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Film kapağı</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <div class="form-group form-mt"><textarea class="form-control" rows="14" name="message"
        placeholder="Film hakkında kısa özet"></textarea>
    </div>
    <div class="form-group"><button class="btn btn-primary text-center" type="submit">Kaydet</button></div>
  </form>
</div>