<div class="columns margin-top">
  <div class="column">
    <a href="">
      <div class="cards">
        <h2 class="cards-header is-size-4">Bird Box</h2>
        <p class="cards-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur in nobis ex maxime
          laboriosam quis nihil tenetur bla</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a href="">
      <div class="cards">
        <h2 class="cards-header is-size-4">Bird Box</h2>
        <p class="cards-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur in nobis ex maxime
          laboriosam quis nihil tenetur bla</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a href="">
      <div class="cards">
        <h2 class="cards-header is-size-4">Bird Box</h2>
        <p class="cards-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur in nobis ex maxime
          laboriosam quis nihil tenetur bla</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a href="">
      <div class="cards">
        <h2 class="cards-header is-size-4">Bird Box</h2>
        <p class="cards-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur in nobis ex maxime
          laboriosam quis nihil tenetur bla</p>
      </div>
    </a>
  </div>
</div>

<div class="columns margin-top">
  <div class="column">
    <a href="">
      <div class="cards">
        <h2 class="cards-header is-size-4">Bird Box</h2>
        <p class="cards-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur in nobis ex maxime
          laboriosam quis nihil tenetur bla</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a href="">
      <div class="cards">
        <h2 class="cards-header is-size-4">Bird Box</h2>
        <p class="cards-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur in nobis ex maxime
          laboriosam quis nihil tenetur bla</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a href="">
      <div class="cards">
        <h2 class="cards-header is-size-4">Bird Box</h2>
        <p class="cards-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur in nobis ex maxime
          laboriosam quis nihil tenetur bla</p>
      </div>
    </a>
  </div>
  <div class="column">
    <a href="">
      <div class="cards">
        <h2 class="cards-header is-size-4">Bird Box</h2>
        <p class="cards-header">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur in nobis ex maxime
          laboriosam quis nihil tenetur bla</p>
      </div>
    </a>
  </div>
</div>