<header>
  <div class="text-center highlight-clean" style="font-size: 16;padding: 150px;">
    <div class="intro">
      <h3 class="text-center highlight-h3">İzlediğin filmleri kaydetmek çok kolay.</h3>
      <p class="text-center">
        {{#if_equals login "===" true}}
          {{content_text}}
          {{else}}
          İzlediğin filmi mi kaydetmek istiyorsun, yoksa arkadaşın ile paylaşmak mı? Daha
          fazlası için lütfen kayıt ol ve keyfini çıkar.
        {{/if_equals}}
      </p>
    </div>
    {{#if_equals login "===" false}}
    <div class="buttons"><a class="btn btn-primary" role="button" href="/register">KAYIT OL</a></div>
    {{/if_equals}}
  </div>
</header>